
/*
ul{
  border: 20px solid black;
  height: 1000px;
  width:  1750px;
  background-color: black;
  padding: 30px;


  background: url(/assets/coolbackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: rgb(3, 14, 119);
  font-size: 50px;
  text-align: left;
  font-weight: bold;
  list-style-type: none;
}
*/
