

<ul>
<li *ngFor="let auto of carArray"
(click)= "chooseCar(auto)"

>
<h1>Model:{{auto.model}}</h1>
<h1>Manufacturer:{{auto.manufacturer}}</h1>
<h1>Price :{{auto.price}}</h1>
</li>
</ul>


<div *ngIf="selectCar; else elseBlock">



  <div class = "pics-cars">
  <p style="text-align: center; font-size: 25px;color: rgb(184, 3, 3);font-weight: bold;
  ">Great choice! You've selected:</p>
  <h1 style="font-size: 25px; color: rgb(184, 3, 3);font-weight: bold;
  " >Model : {{selectCar.model}}</h1>
  <h1 style="font-size: 25px; color:  rgb(184, 3, 3); font-weight: bold;
  ">Manufacturer : {{selectCar.manufacturer}}</h1>
  <h1 style="font-size: 25px;color:  rgb(184, 3, 3); font-weight: bold;
  ">Price : {{selectCar.price}}</h1>

  </div>
  <br>
  <br>
  </div>
<ng-template #elseBlock>


   <p style="text-align: center; padding-left: 10px; margin-left: 0px; margin-right: 0px; font-size: 40px;  color: rgb(156, 38, 38)">
    Please choose a car from the above list</p>

  </ng-template>
